td.gr-cv-editable {
  cursor: pointer;
}

td.gr-cv-editable:hover {
  background: paleturquoise !important;
}

.gr-cv-contentdiv {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.gr-cv-comment-box {
  background: dodgerblue;
  display: flex;
  margin: 8px;
  border-radius: 5px;
  padding: 5px;
  color: white;
}

.gr-cv-comment-box-pars {
  flex-direction: column;
}

.gr-cv-comment-box-pars p {
  margin: 0;
}

.gr-cv-comment-perma {
  background: darkblue !important;
}

.gr-cv-comment-box textarea {
  width: calc(100% - 24px);
  color: black;
}

.gr-cv-comment-ctrl-box {
  display: flex;
  flex-direction: column;
}

.gr-cv-comment-ctrl-btn {
  color: white;
}

.gr-cv-font-normal {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

pre.gr-cv-codeline {
  margin: 0;
  overflow: hidden;
  break-inside: auto;
  overflow-wrap: break-word;
  white-space: pre-wrap;
}